    <div class="section-title">
        <h1>Signin</h1>
    </div>

    <form action="/api/login" method="post"  class="vertical-form">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <p><a href="/api/signup">Dont have an account yet.</a></p>
    <p><a href="/api/forgot-password">Forgot password ?</a></p>
