.home-page-container {
}

/* vignete overlay */
.home-page-container::before {
  content: "";
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 0; /* Set a lower z-index to stay beneath the content */
  height: 100%;
}

.home-hero {
  background-image: url("../../../../public/images/home/hero-image.jpg");
  background-size: cover;
  background-position: center; /* Centers the background image */
  height: 90vh;
  width: 100vw;
  display: flex; /* For centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.hero-logo {
  max-width: 50%; /* Adjust the logo size */
  max-height: 20rem; /* Maintain aspect ratio */
}



#contact {
  background-image: url("../../../../public/images/home/lotus-flower.jpg");
  background-size: cover;
  background-position: center; /* Centers the background image */
  height: 100vh;
  width: 100vw;
  display: flex; /* For centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

.backdrop-filter {
  background-color: rgba(255, 255, 255, 0.098); /* Adjust opacity as needed */
  backdrop-filter: blur(20px); /* Adjust blur amount as needed */
}
