<div class="container email-sent-cont">
    <h1 class="section-title">Email sent!</h1>
    <br>
    <p>Check your email Inbox to get the recovery code.</p>
</div>

<style>
    .container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .email-sent-cont{
        margin: 6.2rem auto;
    }
</style>