<!-- createCourse.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>Create New Course</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/courseUpdate.css">
</head>

<body>
    <h1>Create New Course</h1>
    <div>
        <form id="courseForm" action="/api/course/create" method="POST" enctype="multipart/form-data">
            <!-- Form action should match the route for creating a course -->
            <h3>Course description</h3>
            <label for="title">Name:</label><br>
            <input type="text" id="title" name="title"><br><br>

            <label for="description">Description:</label><br>
            <input id="description" name="description"><br><br>

            <label for="text_content">Text Content:</label><br>
            <textarea id="text_content" name="text_content"></textarea><br><br>

            <label for="video_link">Video Link:</label><br>
            <input id="video_link" name="video_link"><br><br>

            <label for="thumbnail">Thumbnail:</label><br>
            <input type="file" name="thumbnail" accept="image/*"><br><br>

            <h3>Price settings</h3>
            <label for="price">ARS Price:</label><br>
            <input type="number" id="ars_price" name="ars_price"><br><br>

            <label for="price">USD Price:</label><br>
            <input type="number" id="usd_price" name="usd_price"><br><br>

            <h3>Aditional configs</h3>
            <label for="discount">Discount:</label><br>
            % <input type="number" id="discount" name="discount"><br><br>

            <div style="display: flex;">
                <div>
                    <label for="active">Active:</label><br>
                    <input type="checkbox" id="active" name="active" value="true"><br><br>
                </div>

                <div style="margin-left: 40px;">
                    <label for="length">Length:</label><br>
                    <input type="number" id="length" name="length" style="width: 80px;"><br><br>
                </div>
            </div>

            <button type="submit">Create Course</button>

            <!-- Display error message -->
            <% if (typeof errorMessage !=='undefined' ) { %>
                <p style="color: red;">
                    <%= errorMessage %>
                </p>
                <% } %>
        </form>
    </div>
</body>

</html>