/* TYPO */
/* Update font styles for better readability */
body {
  font-family: Arial, sans-serif;
}

.course-overview h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}

.course-overview h2 {
  font-size: 2em;
  color: #444;
  margin-bottom: 15px;
}

.course-overview p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}

/* Styling for instructor and details */
.course-overview div p {
  margin-bottom: 8px;
}

/* BUTTON */
/* Refine button styles for better visibility */
.course-container button {
  background-color: #333;
  color: white;
  padding: 12px 24px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.1em;
}

.course-enrollment button {
  background-color: #44c767;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.course-enrollment button:hover {
  background-color: #3d9965;
}

/* IMG */
/* Adjust image styles */
.course-overview img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* PRICES */
/* Style for the prices */
.course-prices {
  font-size: 1.2em;
  color: #777;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-sizing: border-box;
}

.price-usd, .price-ars {
  font-weight: bold;
  color: #333;
}


/* COURSE */
/* Update the course container to occupy 100vh */
.course-container {
  height: 100vh;
  position: relative; /* Necessary for absolutely positioned children */
  overflow-y: auto; /* Add this if content exceeds viewport height */
}

.course-details {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.course-overview {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  padding-bottom: 100px; /* Creating space for the enroll button */
}

/* Adjustments for the enroll button */
.course-enrollment {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
