/* Center the course detail container */
#course-detail-container {
  margin: 6.2rem auto;
  padding: 0 .3rem;
  width: 100%;
}

/* Make the video player responsive */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive scaling */
  margin-bottom: 2rem; /* Adjust as needed */
}

#course-video {
  position: absolute;
  width: 100%;
  max-width: 1443px;
  height: 100%;
  top: 0;
  left: 0;
}

/* Responsive layout for course modules */
.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-module,
.modules-list {
  flex-basis: calc(50% - 20px); /* Adjust the module width and spacing */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .first-module,
  .modules-list {
    flex-basis: 100%; /* On smaller screens, modules take full width */
  }
}
