/* courses.css */

/* Apply styles to the whole courses container */
.courses-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Style for the go back button */
.courses-container button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.courses-container a {
    color:#333 ;
}
.courses-container a:hover {
    color:#9e35e4 ;
}

/* Style for the courses list */
.courses-container ul {
    list-style: none;
    padding: 0;
}

.courses-container li {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.courses-container h1 {
    text-align: center;
    color: #333;
}

.courses-container h2 {
    color: #555;
}

.courses-container p {
    color: #777;
    margin-bottom: 10px;
}

.courses-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-top: 10px;
}
