/* navbar.css  */
/* Basic reset for list styles */
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style for the navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
    width: 100%;
    border-radius: 15px; /* Rounded corners */
    padding: 10px; /* Add padding for space inside */
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.navbar ul li a:hover {
    color: #00ff00; /* Change color on hover */
}

/* Responsive Styles ==============================================*/
@media screen and (max-width: 600px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
