<h1 class="section-title">Blog Create</h1>
<div>
    <form id="courseForm" action="/api/blog/create" method="POST" enctype="multipart/form-data">
        <!-- Form action should match the route for creating a course -->
        <h3>Course description</h3>
        <label for="title">title:</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="description">Description:</label><br>
        <input id="description" name="description"><br><br>

        <label for="text_content">Text Content:</label><br>
        <textarea id="text_content" name="text_content"></textarea><br><br>

        <label for="thumbnail">Thumbnail:</label><br>
        <input type="file" name="thumbnail" accept="image/*"><br><br>

        <input type="hidden" name="author" value="<%= user %>">  
        <button type="submit">Create Blog</button>

        <!-- Display error message -->
        <% if (typeof errorMessage !=='undefined' ) { %>
            <p style="color: red;">
                <%= errorMessage %>
            </p>
            <% } %>
    </form>
</div>