<!-- createCourse.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>Create New Course</title>
    <link rel="stylesheet" href="/css/courseUpdate.css">
</head>

<body>
    <h1>Create New Course</h1>
    <form id="courseForm" action="/api/course/create" method="POST" enctype="multipart/form-data">
        <!-- Form action should match the route for creating a course -->
        <label for="title">Name:</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="slug">Slug:</label><br>
        <input type="text" id="slug" name="slug"><br>
        <span id="slugError" style="color: red;"></span><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br><br>

        <label for="price">ARS Price:</label><br>
        <input type="number" id="ars_price" name="ars_price"><br><br>

        <label for="price">USD Price:</label><br>
        <input type="number" id="usd_price" name="usd_price"><br><br>

        <label for="discount">Discount:</label><br>
        <input type="number" id="discount" name="discount"><br><br>

        <label for="active">Active:</label><br>
        <input type="checkbox" id="active" name="active" value="true"><br><br>

        <label for="thumbnail">Thumbnail:</label><br>
        <input type="file" id="thumbnail" name="thumbnail"><br><br>

        <label for="length">Length:</label><br>
        <input type="number" id="length" name="length"><br><br>

        <button type="submit">Create Course</button>

         <!-- Display error message -->
         <% if (typeof errorMessage !== 'undefined') { %>
            <p style="color: red;"><%= errorMessage %></p>
          <% } %>
    </form>
</body>

</html>