<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include ('navbar') -%>
    <%- include ('alert') -%>


    <h1>Welcome to Our Website</h1>

    

    <script src="/js/alert.js"></script>
</body>
</html>
