<nav className="navbar navbar-expand-lg bg-body-dark">
  <div className="container-fluid">
    <!-- <a className="navbar-brand" href="#">Navbar</a> -->
    <button className="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span className="navbar-toggler-icon"></span>
    </button>
    <div className="collapse navbar-collapse" id="navbarNavDropdown">
      <ul className="navbar-nav">

        <li className="nav-item">
          <a className="nav-link active" aria-current="page" href="/"><i className="fas fa-home"> Home</i></a>
        </li>
        <li className="nav-item">
          <a className="nav-link" href="/api/courses?page=1&perPage=6"><i className="fas fa-book"></i> Cursos</a>
        </li>
        <li className="nav-item">
          <a className="nav-link" href="/api/blog?page=1&perPage=6"><i className="fas fa-book"></i> Blog</a>
        </li>

        <!-- signedin links -->
        <% if (user && user.name) { %>
        <li className="nav-item">
          <a className="nav-link" href="/api/courses-owned?page=1&perPage=6"><i className="fas fa-graduation-cap"></i> Mis Cursos</a>
        </li>

        <!-- MAIN DROPDOWN -->
        <!-- admin links -->
        <% if (user && user.role==="admin" ) { %>
        <li className="nav-item dropdown">
          <a className="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i className="fas fa-ellipsis-v"></i> <!-- Three dots icon -->
          </a>
          <ul className="dropdown-menu">
            <li><a className="dropdown-item" href="/api/course/create"><i className="fas fa-plus-circle"></i> Crear
                curso</a></li>
            <li><a className="dropdown-item" href="/api/blog/create"><i className="fas fa-plus-circle"></i> Crear
                Blog</a></li>
            <li><a className="dropdown-item" href="/api/admin/users"><i className="fas fa-users-cog"></i> Panel de Usuarios</a>
            </li>
            <% if (user && user.avatar) { %>
            <!-- Update Profile with user's avatar -->
            <li><a className="dropdown-item" href="/api/user-update/<%= user.id %>/confirm">
                <img src="<%= user.avatar %>" alt="User Avatar" className="avatar">
                Editar Perfil
              </a></li>
            <% } else { %>
            <!-- If no avatar, use a placeholder -->
            <li><a className="dropdown-item" href="/api/user-update/<%= user.id %>/confirm">
                <img src="images/user.png" alt="Placeholder Avatar" className="avatar">
                Editar Perfil
              </a></li>
            <% } %>
            <!-- sign out -->
            <% if (user) { %>
            <li><a className="dropdown-item" href="/api/logout">
                <i className="fas fa-sign-out-alt"></i>
                Salir
              </a></li>
            <% } %>
          </ul>
        </li>
        <% } %>

        <!-- END MAIN DROPDOWN -->

        <!-- ----------------------------------------------------------------------- -->
        <% } else { %>
        <!-- sign in -->
        <li className="nav-item">
          <a className="nav-link" href="/api/login"><i className="fas fa-graduation-cap"></i><i className="fas fa-sign-in-alt"></i> Ingresar</a>
        </li>
        <!-- sign up -->
        <li className="nav-item">
          <a className="nav-link" href="/api/signup"><i className="fas fa-graduation-cap"></i><i className="fas fa-user-plus"></i> Registrar</a>
        </li>
        <% } %>



      </ul>
    </div>
  </div>
</nav>